@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Roboto";
  font-weight: 300;
}
.globalWrapper {
  width: 100%;
  padding: 5% 5% 5% 35%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  box-sizing: border-box;
}
.left-col {
  border-right: 1px solid #eee;
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  padding: 5% 40px;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: white;
}
.right-col {
  width: 100%;
}
h1 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: -5px;
  margin-bottom: 15px;
}
h2 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  margin: 40px 0 20px;
}
.bold {
  text-transform: uppercase;
  font-weight: bold;
}
.subtitle {
  font-family: "Oswald";
  font-weight: 200;
  font-size: 20px;
}
.right {
  text-align: right;
}
.photo {
  width: 180px;
  height: 180px;
  background-color: #eee;
  border-radius: 100%;
  margin: 0 auto;
  background: url("../image/moi.jpg") center no-repeat;
  background-size: cover;
}
h2.name {
  letter-spacing: 0;
  font-family: "Oswald";
}
.listExperience {
  margin: 20px 0;
}
p {
  line-height: 20px;
}
.technos {
  font-size: 12px;
  margin-top: 10px;
}
.technos.bis {
  margin-top: 0px;
}
h3 {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 40px;
  margin: 60px 0 30px;
  color: grey;
}
.italic {
  font-style: italic;
}
